
<head>
<link rel="stylesheet" href="../Styles/global.css">
</head>
<header class="site-header">
  <div class="container header-wrapper">
 
    <!-- Logo  -->
    <div class="logo-area">
      <img src="../Mulumed trading plc web logo.png" alt="Mulumed Trading PLC Logo" class="logo">
         </div>

    <!-- Navigation -->
    <nav class="main-nav">
        <ul>
            <li><a href="../Home.html">Home</a></li>
            <li><a href="../Services.html">Services</a></li>
            <li><a href="../Blog.html">News</a></li>
            <li><a href="../About.html">About</a></li>
            <li><a href="../Contact.html">Contact</a></li>
           
        </ul>
    </nav>

  </div>
</header>